@media (max-width: 1024px) {
  .under_content {
    padding: 65px;
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 130px;
    justify-content: space-between;

    &__right {
      width: 354px;
      h1 {
        font-size: 16px;
      }
      &__ul {
        font-size: 16px;
      }
    }
  }

  .subscribe {
    padding-top: 50px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (width: 768px) {
  .under_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 47px;
  }

  .content {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    gap: 22px;
  }

  .footer {
    padding-left: 20px;
    padding-top: 43px;
    padding-bottom: 40px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* gap: 15px; */
  }

  .header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top {
    padding-left: 16px;
  }
}
