* {
    margin: 0;
    padding: 0;
}

.header {
    max-width: 100vw;
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    background: rgb(34, 34, 34);
    flex-direction: row;
    /* align-content: center; */
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.item_1 {
    /* margin-left: 14.4375vw; */
    min-width: 2.75vw;
    min-height: 1.196581vh;
}

.item_2 {
    margin-top: 1.04vh;
    padding-left: 2.5625vw;
    padding-right: 53.6875vw;
    min-width: 6.9375vw;
    min-height: 1.299145vh;
}

.brand {
    /* width: 100vw; */
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.item_left {
    width: 50vw;
    height: 764px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: rgb(241, 228, 230);

}

.item_right {
    width: 50vw;
    display: flex;
    height: 764px;
    font-family: Lato;
    color: #222222;
    background: rgb(241, 228, 230);
    align-items: center;
}

.item_right_1 {
    width: 12px;
    height: 92px;
    margin-right: 1vw;
    background: rgb(241, 109, 127);
}

.text_logo {
    width: 373px;
    height: 93px;
}

.logo_h1 {
    font-size: 48px;
    font-weight: 900;
}

.logo_h2 {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.logo_h2_pink {
    color: #F16D7F;
}


.new_trands {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.875vw;
    margin-top: 65px;
}



.news_1 {
    width: 360px;
    height: 260px;
    background: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/for_women.svg);
}


.news_2 {
    width: 360px;
    height: 260px;
    background: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/for_men.svg);
}

.news_3 {
    width: 360px;
    height: 260px;
    background: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/for_kids.svg);
}

.news_h1 {
    margin-left: 103px;
    margin-top: 105px;
    width: 154px;
    /* height: 25px; */
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 0px; */
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.news_h2 {
    margin-left: 103px;
    width: 154px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    /* line-height: 0px; */
    letter-spacing: 0%;
    text-align: center;
    color: #F16D7F;
}

.luxirous_and_trands {
    width: 71.25vw;
    height: 180px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/luxirous.svg);
}


.luxirous_h1 {
    width: 159.72px;
    height: 25px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.luxirous_h2_pink {
    /* width: 159.72px;
    height: 25px; */
    font-size: 24px;
    font-weight: 700;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    color: #F16D7F;
}


.content {
    margin-top: 96px;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(255, 255, 255);
}


.content_h1 {
    color: rgb(34, 34, 34);
    font-size: 30px;
    line-height: 36px;
}

.content_h2 {
    color: rgb(159, 159, 159);
    font-size: 14px;
    line-height: 17px;
}

.product {
    margin-top: 48px;
    background: rgb(248, 248, 248);
}

.product_first_line {
    min-width: 22.5vw;
    display: flex;
    justify-content: center;
    height: 581px;
    flex-wrap: wrap;
    gap: 1.875vw;
}

.item_product_1 {
    width: 22.5vw;
    height: 420px;
    background: url("img/1_product.svg"), rgb(247, 228, 226);
    /* border: 1px solid #000; */
}

.item_product_2 {
    width: 22.5vw;
    height: 420px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(247, 228, 226);
    /* border: 1px solid #000; */

}

.product_2_h1 {
    margin-top: 384.45px;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.product_2_h2 {
    margin-top: 384.45px;
    width: 19.67125vw;
    height: 51px;
    margin-top: 12.65px;
    color: rgb(93, 93, 93);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.item_product_3 {
    width: 22.5vw;
    height: 420px;
    /* border: 1px solid #000; */

}


.product_second_line {
    /* display: grid; */
    /* grid-template-columns: auto, repeat(3*22.5vw), auto; */
    display: flex;
    justify-content: center;
    height: 581px;
    flex-wrap: wrap;
    gap: 1.875vw;
}

.item_product_4 {
    width: 22.5vw;
    height: 420px;
    /* border: 1px solid #000; */

}


.item_product_5 {
    width: 22.5vw;
    height: 420px;
    background: #F3EDED;
    /* border: 1px solid #000; */

}

.item_product_6 {
    width: 22.5vw;
    height: 420px;
    /* border: 1px solid #000; */

}

.product_h1 {
    margin-top: 24px;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.product_h2 {
    width: 19.67125vw;
    height: 51px;
    margin-top: 12.65px;
    color: rgb(93, 93, 93);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.price {
    margin-top: 16px;
    color: rgb(241, 109, 127);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;

}


.under {
    margin-top: 48px;
    width: 13.25vw;
    height: 48px;
    border: 1px solid rgb(255, 106, 106);
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgb(242, 99, 118);
    display: flex;
    justify-content: center;
}

.text_button {
    padding-bottom: 60px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;

    color: #F26376;
}