* {
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    background: rgb(34, 34, 34);
    gap: 2vw;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}

.item_1 {
    min-width: 44px;
    min-height: 38px;
}

.item_2 {
    margin-left: 2.5625vw;
    min-width: 26px;
    min-height: 26.79px;
}

.item_3 {
    margin-left: 53.6875vw;
    min-width: 32px;
    min-height: 23px;
    display: inline-block;
}



.dropdown-content {
    margin-top: 25px;
    padding-bottom: 32px;
    width: 232px;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(111, 110, 110);
}

.h1_menu {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 24px;
}


.sections_name {
    color: rgb(241, 109, 127);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 32px;
    padding-top: 12px;
    text-decoration: none;
    display: block;
}

.sections {
    margin-left: 54px;
    padding-top: 11px;
    color: rgb(111, 110, 110);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    display: block;
}


/* .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
} */

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
}

.show {
    display: block;
}


.item_3:hover .dropdown-content {
    margin-top: 25px;
    display: block;
}

.item_3:hover .dropbtn {
    background-color: rgb(255, 255, 255);
}

.item_4 {
    min-width: 29px;
    min-height: 29px;
}

.item_5 {
    min-width: 32px;
    min-height: 29px;
}

.brand {
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background: rgb(241, 228, 230);

}

.item_left {
    width: 50vw;
    height: 764px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.item_right {
    width: 50vw;
    display: flex;
    height: 764px;
    font-family: Lato;
    color: #222222;
    align-items: center;
}

.item_right_1 {
    width: 12px;
    min-height: 92px;
    margin-left: 30px;
    margin-right: 1vw;
    background: rgb(241, 109, 127);
}

.text_logo {
    width: 373px;
    height: 93px;
}

.logo_h1 {
    font-size: 48px;
    font-weight: 900;
}

.logo_h2 {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.logo_h2_pink {
    color: #F16D7F;
}

/* .trands_cont {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
} */

.new_trands {
    margin-top: 65px;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 360px));
    grid-template-rows: 260px;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
}

.news_1 {
    max-width: 360px;
    height: 260px;
    background: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/for_women.svg);
}

.news_2 {
    max-width: 360px;
    height: 260px;
    background: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/for_men.svg);
}

.news_3 {
    max-width: 360px;
    height: 260px;
    background: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/for_kids.svg);
}

.news_h1 {
    margin-left: 103px;
    margin-top: 105px;
    width: 154px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.news_h2 {
    margin-left: 103px;
    width: 154px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    color: #F16D7F;
}

.luxirous_and_trands {
    max-width: 100vw;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.luxorius_fonts {
    width: 1140px;
    height: 180px;
    background:
        linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url(img/luxirous.svg);
}

.luxorius_text {
    margin-top: 65px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.luxorius_text_1 {
    color: #FFFFFF;
}

.luxirous_text_2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #F16D7F;
}



.content {
    margin-top: 96px;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(255, 255, 255);
}


.content_h1 {
    color: rgb(34, 34, 34);
    font-size: 30px;
    line-height: 36px;
}

.content_h2 {
    color: rgb(159, 159, 159);
    font-size: 14px;
    line-height: 17px;
}

.products {
    max-width: 100vw;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 360px));
    justify-content: center;
    grid-gap: 30px;
}



.product_product {
    display: grid;
    grid-template-rows: 420px, 166px;
    max-width: 360px;
    max-height: 581px;
    align-items: start;
    justify-items: stretch;
    flex-wrap: wrap;
    background: rgb(248, 248, 248);

    .button_product {
        position: relative;
        display: block;
        position: relative;
        border: 1px solid rgb(159, 159, 159);
        position: absolute;
        width: 139px;
        height: 44px;
        margin-top: 188px;
        margin-left: 111px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .button_product_text {
        position: relative;
        display: flex;
        align-items: center;
        gap: 11px;
        color: rgb(255, 255, 255);
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }


    img {
        opacity: 1;
    }


    img:hover {
        opacity: .25;
    }

}



.description {
    padding: 16px 24px 16px 24px;
    min-height: 166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.name_product {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.product_description {
    color: rgb(93, 93, 93);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 360px;
}

.price {
    margin-top: 16px;
    color: rgb(241, 109, 127);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.buttom {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}

.under {
    width: 212px;
    height: 48px;
    border: 1px solid rgb(255, 106, 106);
    color: rgb(242, 99, 118);
    display: flex;
    justify-content: center;
}


.text_button {
    margin-bottom: 60px;
    color: rgb(242, 99, 118);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.under:hover {
    background: rgb(241, 109, 127);
    color: #3a7999;

    .text_button {
        color: rgb(255, 255, 255);
    }
}


.under_content {
    padding-top: 49px;
    padding-bottom: 64px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    min-height: 341px;
    background: #222224;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
}


.under_content_under1 {
    /* height: 134px; */
    height: 134px;
}

.under_content_under2 {
    height: 134px;
}

.under_content_under3 {
    height: 134px;
}

.h1_under_content {
    margin-top: 29px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    /* text-align: center; */
}

.p_under_content {
    margin-top: 16px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 13.97px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    /* text-align: center; */
}

.subscribe {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    min-height: 448px;
    background: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/fonts_subscribe.svg) no-repeat center center fixed;
    background-size: cover;
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, 360px 557px); */
    /* grid-gap: 224px; */
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.sub_left {
    width: 360px;
    height: 225px;
    display: grid;
    /* border: 1px solid #000; */
    align-content: space-evenly;
    justify-items: center;
    color: rgb(34, 34, 36);
    font-family: Lato;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.sub_rigth {
    width: 360px;
    height: 142px;
    display: grid;
    color: rgb(34, 34, 36);
    align-content: space-evenly;
    justify-content: center;
}

.sub_rigth_text {
    margin-top: 53px;
    font-family: Lato;
    line-height: 153.2%;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
}

.sub_inter_position {
    width: 356px;
    display: flex;
    align-items: center;
}

.sub_rigth_h1 {
    font-size: 24px;
    font-weight: 700;
}

.sub_rigth_p {
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
}


.input_field {
    padding-left: 10px;
    width: 256px;
    height: 49px;
    background: rgb(225, 225, 225);
    border-radius: 40px 0 0 40px;
}

.text_input_field {
    margin-left: 22px;
    color: rgb(34, 34, 36);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.buttom_sub {
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    width: 100px;
    height: 49px;
    border-radius: 0 40px 40px 0;
    background: rgb(241, 109, 127);
}

.footer {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 100%;
    min-height: 79px;
    background: rgb(34, 34, 36);
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px 160px);
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.left_foo {
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    flex-wrap: wrap;
}

.rigth_foo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
}

.rigth-foo_elem {
    width: 32px;
    height: 32px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

.rigth-foo_elem:hover {
    background: rgb(241, 109, 127);
    color: #3a7999;
}

@media (max-width: 1024px) {
    .new_trands {
        width: 100vw;
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: 260px;
        gap: 14px;
    }

    .text_logo {
        width: 283px;
        height: 78px;
    }

    .logo_h1 {
        font-size: 44px;
    }

    .logo_h2 {
        font-size: 24px;
    }

    .news_h1 {
        justify-content: center;
    }

    .news_h2 {
        justify-content: center;
    }


    .luxirous_and_trands {
        margin-left: 20px;
        margin-right: 20px;
    }

    .products {
        grid-gap: 14px;
    }

    .under_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 15px;
    }
}

@media (width: 768px) {

    .text_logo {
        width: 283px;
        height: 78px;
    }

    .logo_h1 {
        font-size: 44px;
    }

    .logo_h2 {
        font-size: 24px;
    }

    .new_trands {
        max-width: 100vw;
        grid-template-columns: repeat(auto-fit, minmax(200px, 237px));
        gap: 14px;
    }

    .news_h1 {
        margin-left: 39px;
        justify-content: center;
    }

    .news_h2 {
        margin-left: 39px;
        justify-content: center;
    }

    .luxirous_and_trands {
        margin-left: 14px;
        margin-right: 14px;
    }

    .products {
        grid-gap: 14px;
    }

    .under_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, 360px);
        gap: 47px;
    }

    .subscribe {
        gap: 48px;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 140px;
    }
}

@media (max-width: 425px) {

    .item_3 {
        margin-left: 200px;
    }

    .item_4 {
        display: none;
    }

    .item_5 {
        display: none;
    }

    .item_left {
        display: none;
    }

    .item_right {
        width: 100vw;
        height: 363px;
    }

    .item_right_1 {
        width: 12px;
        height: 61px;
        margin-left: 56px;
        margin-right: 15px;
    }

    .text_logo {
        width: 236px;
        height: 66px;
    }

    .logo_h1 {
        font-size: 38px;
    }

    .logo_h2 {
        font-size: 20px;
    }

    .new_trands {
        width: 100vw;
        grid-template-columns: repeat(auto-fit, minmax(243px, 345px));
        gap: 32px;
    }

    .news_h1 {
        justify-content: center;
    }

    .news_h2 {
        justify-content: center;
    }

    .luxirous_and_trands {
        margin-left: 14px;
        margin-right: 14px;
    }

    .products {
        grid-gap: 14px;
        /* border: 1px solid #000; */

    }

    .under_content {
        gap: 47px;
    }

    .footer {
        padding-left: 20px;
        padding-top: 43px;
        padding-bottom: 40px;
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        /* gap: 15px; */
    }

    .rigth_foo {
        order: 1;
    }

    .left_foo {
        margin-top: 15px;
        order: 2;
    }

    .subscribe {
        gap: 59px;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 109px;
    }
}

@media (max-width: 320px) {

    .item_3 {
        margin-left: 180px;
    }

    .item_4 {
        display: none;
    }

    .item_5 {
        display: none;
    }

    .item_left {
        display: none;
    }

    .item_right {
        width: 100vw;
        height: 363px;
    }

    .item_right {
        width: 100vw;
        height: 363px;
    }

    .item_right_1 {
        width: 12px;
        height: 61px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .text_logo {
        width: 236px;
        height: 66px;
    }

    .logo_h1 {
        font-size: 36px;
    }

    .logo_h2 {
        font-size: 20px;
    }

    .new_trands {
        width: 100vw;
        grid-template-columns: repeat(auto-fit, minmax(243px, 345px));
        gap: 32px;
    }

    .news_h1 {
        justify-content: center;
    }

    .news_h2 {
        justify-content: center;
    }

    .luxirous_and_trands {
        margin-left: 0;
        margin-right: 0;
        border: 1px solid #000;

    }

    .products {
        grid-gap: 14px;
        /* border: 1px solid #000; */

    }

    .under_content {
        grid-template-columns: repeat(auto-fit, 320px);
    }


    .sub_inter_position {
        max-width: 100vw;
        justify-content: center;
    }
}