<<<<<<< HEAD
@media (max-width: 1440px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    &__rigth {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }
=======
@media (max-width: 1024px) {
  .under_content {
    padding: 65px;
    display: flex;
    flex-direction: column;
  }

  .subscribe {
    padding-top: 50px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
>>>>>>> f5faac4e6c4fb5f58f15bcdef2410974694df991
  }
}

@media (width: 768px) {
<<<<<<< HEAD
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top {
    padding-left: 16px;
  }

  .content {
    padding-left: 16px;
    padding-right: 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    &__rigth {
      padding-left: 16px;
      padding-right: 16px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }
  }

  .subscribe {
    padding-top: 54px;
    padding-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding-left: 32px;
    padding-right: 32px;
=======
  .under_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 47px;
>>>>>>> f5faac4e6c4fb5f58f15bcdef2410974694df991
  }
}
