@media (max-width: 1024px) {
  .under_content {
    padding: 65px;
    display: flex;
    flex-direction: column;
  }

  .subscribe {
    padding-top: 50px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (width: 768px) {
  .under_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 47px;
  }
}
