@import "vars";
@import "@media";

* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: Lato;
  //   background: $colorBGBody;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding-left: 15%;
  padding-right: 15%;
  width: $widthSite;
  height: 75px;
  background: $colorHedaderFooter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;

  .left_elem {
    display: grid;
    grid-template-columns: repeat(2, 44px);
    gap: 41px;
    align-items: end;
  }

  .rigth_elem {
    display: grid;
    grid-template-columns: repeat(3, 32px);
    gap: 25px;
    align-items: center;

    .dropbtn {
      background: url("img/menu.svg");
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      width: 15vw;
      min-height: 640px;
      margin-top: 26px;
      margin-right: 0;
      padding-left: 30px;
      display: none;
      position: absolute;
      background: $colorbgproducts;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      &__close_menu {
        margin-top: 20px;
        padding-right: 16px;
        display: flex;
        justify-content: flex-end;
      }

      &__lv_1 {
        padding-top: 24px;
        padding-right: 60px;
        color: $colorSelectSite;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;

        &__menu {
          color: $colorText;
        }
      }

      &__lv_2 {
        margin-top: 9px;
        padding-top: 16px;
        padding-left: 30px;
        padding-right: 70px;
        padding-bottom: 30px;
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        flex-wrap: nowrap;
      }
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: $colorSelectSite;
    }
  }

  .quantity {
    position: absolute;
    width: 19px;
    height: 19px;
    right: 14.5555%;
    top: 20px;
    background: url("img/quantity.svg");

    .count {
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0%;
      text-align: center;
      margin-top: 3px;
    }
  }
}

.top_block {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 148px;
  color: $colorSelectSite;
  background: $colorbgproducts;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navigations__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  color: rgb(99, 99, 99);
}

.navigations__link_site {
  font-weight: 700;
  color: $colorSelectSite;
}

.content__menu {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  height: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(255, 255, 255);
  position: relative;

  .filter {
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    position: absolute;

    &[open] {
      width: 360px;
      padding: 13px 16px 16px 16px;
      top: 45px;
      background: rgb(255, 255, 255);
      box-shadow: 6px 4px 35px $shadow;
      z-index: 1;
    }

    &[open] path {
      fill: $colorSelectSite;
    }

    &__summary {
      display: flex;
      align-items: center;
      gap: 11px;
    }

    &[open] .filter__heading {
      color: $colorSelectSite;
    }

    &[open] &__summary {
      gap: 0;
    }

    &__heading {
      color: $colorText;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      text-align: left;

      &:hover {
        color: $colorSelectSite;
      }
    }

    &__content {
      &__item {
        margin-top: 24px;
        padding-left: 17px;
        display: flex;
        align-items: center;

        &__head {
          color: rgb(111, 110, 110);
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          text-align: left;
          border-bottom: 1px solid rgb(235, 235, 235);
          padding: 8px 11px 11px 11px;
          border-left: 5px solid $colorSelectSite;
          &:hover {
            color: $colorSelectSite;
          }
        }

        &[open] .filter__content__item__head {
          color: $colorSelectSite;
        }

        &__link-box {
          margin-left: 17px;
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          gap: 11px;

          &__link {
            color: rgb(111, 110, 110);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: left;

            &:hover {
              color: $colorSelectSite;
            }
          }
        }
      }
    }
  }
  .sort {
    margin-left: 24.375%;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 1.75vw;
    color: rgb(111, 110, 110);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;

    &__item__size {
      box-sizing: border-box;

      &[open] {
        z-index: 1;
      }

      &[open] path {
        fill: $colorSelectSite;
      }

      &[open] .sort__item__head {
        color: $colorSelectSite;
      }

      &__head {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 10px;

        &:hover {
          color: $colorSelectSite;
        }

        &__text {
          padding-top: 10px;
          color: rgb(111, 110, 110);
        }
      }
    }
    &__box {
      margin-top: 5px;
      width: 80px;
      background: rgb(255, 255, 255);
      box-shadow: 6px 4px 35px $shadow;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 7px;
      color: rgb(111, 110, 110);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
    }
  }
}

.content {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 360px));
  justify-content: space-between;
  align-content: space-between;
  background: $colorbgproducts;
  padding: 24px, 16px;
  gap: 30px;

  h1 {
    color: $colorText;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }

  h2 {
    color: $colorText2;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
  }

  p {
    color: $colorSelectSite;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
  }

  &__info {
    background: $colorBGBody;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.scrool_pages {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $colorbgproducts;

  .btns-pages {
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 16px;
    border-radius: 10px;
    border: 1px solid rgb(235, 235, 235);
  }

  .btns-pages > * {
    cursor: pointer;
  }

  .num-page {
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    color: rgb(196, 196, 196);
  }

  .num-page.num-active {
    color: $colorSelectSite;
  }
}

.under_content {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  background: #222224;
  display: flex;
  min-height: 341px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  .h1_under_content {
    margin-top: 29px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
  }

  .p_under_content {
    margin-top: 16px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 13.97px;
    font-weight: 300;
    line-height: 17px;
  }
}

.under_content_under1 {
  width: 360px;
  height: 134px;
}

.under_content_under2 {
  width: 360px;
  height: 134px;
}

.under_content_under3 {
  width: 360px;
  height: 134px;
}

.subscribe {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  min-height: 448px;
  background: linear-gradient(
      to top,
      rgba(244, 244, 244, 0.7),
      rgba(244, 244, 244, 0.7)
    ),
    url(img/fonts_subscribe.svg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.sub_left {
  width: 360px;
  height: 225px;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
  color: $colorHedaderFooter;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.sub_rigth {
  width: 360px;
  height: 142px;
  display: grid;
  color: $colorHedaderFooter;
  align-content: space-evenly;
  justify-content: center;
}

.sub_rigth_text {
  margin-top: 53px;
  line-height: 153.2%;
  text-align: center;
  align-items: center;
}

.sub_inter_position {
  width: 356px;
  display: flex;
  align-items: center;
}

.sub_rigth_h1 {
  font-size: 24px;
  font-weight: 700;
}

.sub_rigth_p {
  padding-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
}

.input_field {
  padding-left: 10px;
  width: 256px;
  height: 49px;
  background: rgb(225, 225, 225);
  border-radius: 40px 0 0 40px;
}

.text_input_field {
  margin-left: 22px;
  color: rgb(34, 34, 36);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.buttom_sub {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  width: 100px;
  height: 49px;
  border-radius: 0 40px 40px 0;
  background: $colorSelectSite;
}

.footer {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  width: $widthSite;
  min-height: 79px;
  background: $colorHedaderFooter;
  display: flex;
  justify-content: center;

  .footer_len {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px 160px);
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .left_foo {
      color: rgb(251, 251, 251);
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      text-align: left;
      flex-wrap: wrap;
    }

    .rigth_foo {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 8px;
    }

    .rigth-foo_elem {
      width: 32px;
      height: 32px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background: rgb(255, 255, 255);
    }

    .rigth-foo_elem:hover {
      background: $colorSelectSite;
      color: #3a7999;
    }
  }
}
